.audio-analyzer {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    background-color: #002147;
    color: #ddd;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .note-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    color: #ddd;
    margin-top: -50px;
  }
  
  .note-display.green .note {
    color: #0b962c;
  }
  
  .note-display.red .note {
    color: #a50010; 
  }
  
  .note-display.gray .note {
    color: #6c757d; 
  }
  
  .note {
    font-size: 4rem;
    margin: 0;
  }
  
  .frequency {
    font-size: 1.5rem;
    margin: 5px 0;
    color: 'white';
  }
  
  .wave-canvas {
    width: 100%;
    height: 200px;
    background: none;
    margin-bottom: 20px;
  }
  
  .filter-controls {
    margin-top: 20px;
}

.filter-controls button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: #ddd;
    background-color: #555;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.filter-controls button.active {
    background-color: #0b962c; /* Verde para FIR */
}

.filter-controls button.active:nth-child(2) {
    background-color: #a50; /* Laranja para Butterworth */
}

.filter-controls button.active:nth-child(1) {
    background-color: #a50010; /* Vermelho para Sem Filtro */
}
